.content{
    display: flex;
    height: 110vh;
    width: 100vw;
    justify-content: center;
    background-color: black;
}

.map{
    border:0;
    margin-top:200px;
    margin-bottom:180px;
    border-radius: 20px;
    min-width:70%;
    height:600px;
}